.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imageContainer .rounded {
    width: 10rem;
    /* height: 20vw;
    object-fit: cover; */
}

.topInfo {
    text-align: center;
}

@media(min-width: 768px) {
    .imageContainer .rounded {
        width: 15rem
    }
}

