.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: 60vw;
    object-fit: cover;
}

.card {
    width: 15rem;
    margin-bottom: 25px;
}


@media(min-width: 1024px){
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .card {
        width: 18rem;
    }
}